.my-btn{
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.13);
border: 1px solid white;
border-radius: 7px;
padding: 7px;
}
.my-btn:hover{
    color: black;
   
}