
table thead{
    border: 1px solid;
    border-radius: 50px;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    background-color: #6b7586;
    color: #F5F5F5;
    font-weight: bold;
}

 td{
    text-align: center;
    text-transform: capitalize;
        font-weight: bold;
        font-size: 15px;
        /* display: grid; */
        align-items: center;
}

/* tr td{

} */
